@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #7b88c3; /* Warna ungu utama */
    --secondary-color: #e0e7ff; /* Warna latar belakang yang lebih terang */
    --accent-color: #4c5daa; /* Warna aksen biru */
    --text-color: #222222; /* Warna teks utama */
    --background-color: #cac9c9; /* Warna latar belakang umum */
}

.bungkusan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://source.unsplash.com/random/1920x1080") center/cover no-repeat;
}

.glasses {
    background: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 20px;
    width: 25vw;
    text-align: center;
    box-shadow: 10px 10px;
    border: 3px solid black
}

.header {
    font-family: "Winky Sans", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;


}

.blanko {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-align: left;
}

.head {
    font-family: "Winky Sans", sans-serif;
    font-size: 1.5rem;
    color: black;

}

.value {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: rgba(255, 255, 255, 0.1);
    color: black;
    font-size: 16px;
}

.value:focus {
    outline: 2px solid black;
    border: none;
}


.tombol {
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Winky Sans", sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

.tombol:hover {
    background: darkblue;
}

@media (max-width: 668px) {
    .glasses {
        width:80vw;
    }
}