@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #7b88c3; /* Warna ungu utama */
    --secondary-color: #e0e7ff; /* Warna latar belakang yang lebih terang */
    --accent-color: #4c5daa; /* Warna aksen biru */
    --text-color: #222222; /* Warna teks utama */
    --background-color: #f5f5f5; /* Warna latar belakang umum */
}
.pageDvoting {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.option {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Winky Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

html, body {
    height: 100%;
}

.header {
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: #000000;
    box-shadow: 10px 10px;
    border: 3px solid black;
}

.overlapButton {
    display: flex;
    align-items: center;
    gap: 0; /* jangan pakai gap */
    position: relative;
    
    
}

.navigator, .walletconnection {
    width: 130px;
    margin-left: -20px; /* tumpang tindih */
    transition: all 0.3s ease;
    z-index: 1;
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid black;
    font-family: "Winky Sans";
    font-size: 16px;
}


.navigator:hover, .walletconnection:hover {
    width: 140px;
    margin-left: -4px; /* supaya tidak tumpang tindih saat hover */
  z-index: 2; /* naik ke atas */
}

.navigator:active, .walletconnection:active {
    background-color: var(--primary-color);
}

.mobileView {
    display: none;
}

.logo {
    display: inline;
}

.back {
    padding: 4px;
    border-radius: 5px;
    
    background-color: white;
}

.option {
    height: 200px;
}

@media (max-width: 668px) {
    .overlapButton {
        display: none;
    }

    .mobileView {
        display: block;
        background-color: var(--secondary-color);
        color: var(--accent-color);
        border: none;
        border-radius: 10px;
        padding: 1rem;
        font-style: bold;
        align-items: end;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdownwrapper {
        position: relative;
    }
    
    .dropdownview {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 3;
        right: 0.1vw;
        padding: 2rem;
        background-color: white;
        border: var(--text-color) 3px solid;
        border-radius: 10px;
        
    }
    
}